:root
{
    --background-color: #eeeeee;
    --text-color: #222222;
    --link-color: #336699;
}

html
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.20in;
    line-height: 150%;
}

body
{
    background-color: var(--background-color);
    color: var(--text-color);
}

a
{
    color: var(--link-color);
}

#Page
{
    padding: 0.25in;
}

h1,h2,h3,h4,h5,h6
{
    font-size: 125%;
    font-weight: bold;
}

p {
    margin-top: 0.25in;
}